# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.js
src/app/admin/admin.component.html
src/app/admin/admin.component.ts
src/app/admin/dist/admin.component.js
src/app/app-routing.module.ts
src/app/app.module.ts
src/app/dashboard/dashboard.component.html
src/app/dist/app-routing.module.js
src/app/login/login.component.html
src/app/models/dist/UserModel.js
src/app/models/UserModel.ts
src/app/services/account.service.ts
src/app/services/dichvu.service.spec.ts
src/app/services/dist/account.service.js
src/app/services/dist/dichvu.service.spec.js
src/app/services/dist/user.service.js
src/app/services/dist/user.service.spec.js
src/app/services/user.service.spec.ts
src/app/services/user.service.ts
src/app/users/dist/users.component.js
src/app/users/users.component.css
src/app/users/users.component.html
src/app/users/users.component.spec.ts
src/app/users/users.component.ts
*.html
*.js
src/app/admin/admin.component.html
