<div class="container">
  <form [formGroup]="model.formGroup" (ngSubmit)="submitData()">
    <h2>Creat Category</h2>

    <div class="form-group">
      <label>categoryName</label>
      <input
        type="text"
        [(ngModel)]="model.categoryName"
        formControlName="categoryName"
        class="form-control"
      />
      <p
        class="text-muted"
        [hidden]="
          !model.formGroup.controls['categoryName'].hasError('required')
        "
        style="color: red !important"
      >
        Vui lòng nhập tên
      </p>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!model.formGroup.valid"
    >
      Lưu
    </button>
    <button
      [routerLink]="['/category']"
      routerLinkActive="router-link-active"
      class="btn btn-secondary"
      style="margin-left: 5px"
    >
      Trở lại
    </button>
  </form>
</div>
